.csv-uploader {
    width: 80%;
    max-width: 600px;
    margin-left: 500px;
    margin-top: -727px;
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  .extender{
    height: 645px;
  }

  